<div class="intro">
  <div class="c-content">
    <h3>Your Project Name - Styleguide</h3>
    <p><strong>What is a design system?</strong> A design system is a set of shared and integrated patterns and principles that define the overall design of a product.</p>
    <p><strong>Why do we need a design system?</strong> To document a design language that can be used as a guideline when creating new screens and apps. We strive for efficiency through well-defined, reusable and cross-platform components.</p>
  </div>
</div>
