<div class="br-prototype-wrapper" *ngIf="isVisible">
  <div class="br-prototype-wrapper__content">
    <ng-content></ng-content>
  </div>
  <div class="br-prototype-wrapper__nav">
    <div class="u-m-2">
      <div class="c-content">
        <p>
          <br-button (click)="isVisible=!isVisible">Close page tree</br-button>
        </p>
        <h4 class="c-h6">Page index</h4>
        <p>Press § to show the page index.</p>
        <p>View the <a routerLink="/styleguide">style guide</a>.</p>
      </div>
      <ul>
        <li>
          <h4 class="br-styleguide-bordered-list-header">Documentation</h4>
          <ul class="br-styleguide-bordered-list">
            <li>
              <a routerLink="/sign-in">Sign in</a>
            </li>
            <li>
              <a routerLink="/dashboard">Dashboard</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
