<br-component-page-intro
  title="Toolbar"
>
  <p>This page documents the toolbar component.</p>
</br-component-page-intro>


<br-styleguide-sample
  title="Default"
  code="">
    <br-toolbar>
        <br-toolbar-group position="left">
            <br-toolbar-item>
                <br-toolbar-title>Toolbar title</br-toolbar-title>
            </br-toolbar-item>
        </br-toolbar-group>
        <br-toolbar-group position="right">
            <br-toolbar-item>
                <br-button>Button label</br-button>
            </br-toolbar-item>
            <br-toolbar-item>
                <br-button>Button label</br-button>
            </br-toolbar-item>
            <br-toolbar-item>
                <br-button>Button label</br-button>
            </br-toolbar-item>
        </br-toolbar-group>
    </br-toolbar>
</br-styleguide-sample>

<br-styleguide-sample
  title="Default"
  code="">
    <br-toolbar>
        <br-toolbar-group position="left">
            <br-toolbar-item>
                <br-button>Button label</br-button>
            </br-toolbar-item>
        </br-toolbar-group>
        <br-toolbar-group position="center">
            <br-toolbar-item>
                <h4>Toolbar title</h4>
            </br-toolbar-item>
        </br-toolbar-group>
        <br-toolbar-group position="right">
            <br-toolbar-item>
                <br-button>Button label</br-button>
            </br-toolbar-item>
        </br-toolbar-group>
    </br-toolbar>
</br-styleguide-sample>
