
/* ==========================================================================
  Styleguide content
  ========================================================================== */

.br-styleguide-content {
  height: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.4rem;
}
