/* ==========================================================================
  br-type-sample
   ========================================================================== */

.br-type-sample {
  // margin: 2.4rem 0;
  padding: 1.2rem 0;

  tr {
    border-bottom: 0.1rem solid #CCD1D9;
  }
}

.br-type-sample__label{
  width: 20rem;
  padding: 1.6rem;
  vertical-align: top;
}

.br-type-sample__sample {
  position: relative;
  padding: 1.2rem 1.6rem;
}

/* ==========================================================================
  Changes to components in type context
  ========================================================================== */

.br-type-sample {
  .c-modal-backdrop {
    position: absolute;

  }
  .c-modal {
    position: relative;
  }
}
