<div class="c-navbar">
  <div class="c-toolbar u-mx-2">
    <br-button routerLink="/dashboard/module-1" icon="chevron-left" layout="icon-only" skin="tertiary" >
      Go back to previous item
    </br-button>
    <h2 class="c-toolbar__title">Detail page title</h2>
    <div class="c-toolbar__spacer"></div>
    <br-button skin="primary" routerLink="/dashboard/module-1">Opslaan</br-button>
  </div>
</div>

<div class="u-m-2">
  <div class="o-grid">
    <div class="o-grid-col-6">

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>
    </div>
    <div class="o-grid-col-6">

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>
    </div>
  </div>

</div>
