<br-component-page-intro
  title="Button types"
>
  <p>This page documents the different button types.</p>
</br-component-page-intro>

<br-styleguide-sample
  title="Default"
  code="">
  <br-button>Button label</br-button>
</br-styleguide-sample>

<br-styleguide-sample
  title="Icon only"
  code="">
  <br-button icon="add" layout="icon-only">Add</br-button>
</br-styleguide-sample>

<br-styleguide-sample
  title="Icon left"
  code="">
  <br-button icon="add">Button label</br-button>
</br-styleguide-sample>

<br-styleguide-sample
  title="Icon right"
  code="">
  <br-button icon="add" layout="icon-right">Button label</br-button>
</br-styleguide-sample>

