<div class="c-navbar">
  <div class="c-toolbar">
    <a  class="c-app-title u-mx-2" routerLink="/dashboard">
      <h1>App title</h1>
    </a>
    <ul class="c-tabs">
      <li><a routerLink="/dashboard/module-1">Module 1</a></li>
      <li><a routerLink="/dashboard/module-2">Module 2</a></li>
      <li><a routerLink="/dashboard/module-3">Module 3</a></li>
    </ul>
    <div class="c-toolbar__spacer"></div>
    <p>
      <a href="/sign-in" class="u-mx-2">Afmelden</a>
    </p>
  </div>
</div>

<router-outlet></router-outlet>
