<br-component-page-intro
  title="Panels"
>
  <p>This page documents the panel component.</p>
</br-component-page-intro>


<br-styleguide-sample
  title="Panel body"
  code="">
  <br-panel>
    <br-panel-body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, temporibus magnam? Optio harum nam totam voluptatum laborum quasi temporibus corrupti accusamus doloremque dignissimos, ea, officiis, vel recusandae soluta sint mollitia?
    </br-panel-body>
  </br-panel>
</br-styleguide-sample>

<br-styleguide-sample
  title="Panel header"
  code="">
  <br-panel>
    <br-panel-header title="Panel Header"></br-panel-header>
    <br-panel-body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, temporibus magnam? Optio harum nam totam voluptatum laborum quasi temporibus corrupti accusamus doloremque dignissimos, ea, officiis, vel recusandae soluta sint mollitia?
    </br-panel-body>
  </br-panel>
</br-styleguide-sample>

<br-styleguide-sample
  title="Panel with double body"
  code="">
  <br-panel>
    <br-panel-header title="Panel Header"></br-panel-header>
    <br-panel-body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, temporibus magnam? Optio harum nam totam voluptatum laborum quasi temporibus corrupti accusamus doloremque dignissimos, ea, officiis, vel recusandae soluta sint mollitia?
    </br-panel-body>
    <br-panel-body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, temporibus magnam? Optio harum nam totam voluptatum laborum quasi temporibus corrupti accusamus doloremque dignissimos, ea, officiis, vel recusandae soluta sint mollitia?
    </br-panel-body>
  </br-panel>
</br-styleguide-sample>

