<div class="c-navbar">
  <div class="c-toolbar u-mx-2">
    <h2 class="c-toolbar__title">List page title</h2>
    <div class="c-toolbar__spacer"></div>
    <br-button routerLink="/dashboard/module-1/add" icon="add" skin="primary">Add item</br-button>
  </div>
</div>

<div class="u-m-2">
  <table class="c-table c-table--bordered">
    <thead>
      <tr>
        <th>Data header</th>
        <th>Data header</th>
        <th>Data header</th>
        <th>Data header</th>
        <th>Data header</th>
        <th class="c-table__header c-table__header--actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of [].constructor(4)">
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td class="c-table__cell c-table__cell--actions">
          <br-button icon="chevron-right" layout="icon-only" skin="tertiary"></br-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
